XML/esquema10.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="c1">
		<xs:choice> <!--puedes escoger un elemento -->
			<xs:element name="a" type="xs:string" />
			<xs:element name="b" type="xs:string" />
			<xs:element name="c" type="xs:string" />
		</xs:choice>
	</xs:complexType>
	<xs:element name="root" type="c1" />
</xs:schema>