XML/esquema9.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="c1">
<!--	<xs:sequence>  los elementos tienen que estar en orden -->
<!--	<xs:choice> puedes escoger solo un elemento -->
		<xs:all> <!--puedes estar los elementos desornedadas -->
			<xs:element name="a" type="xs:string" />
			<xs:element name="b" type="xs:string" />
			<xs:element name="c" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:element name="root" type="c1" />
</xs:schema>