XML/esquema16.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="A"> <!--el tipo comlejo se agrega al elemento nombre -->
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="B" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="atributo" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>